.prd-service-section .service-back {
	background: linear-gradient(88.89deg, #000000 -23.17%, rgba(0, 0, 0, 0) 65.41%), url('../../assests/service_banner.jpg');
	background-repeat: no-repeat;
	padding: 110px 0;
	background-size: cover;
	background-position: top;
	background-position-x: right;
}
.prd-service-section .service-content ul {
	list-style: none;
	display: inline-flex;
	padding-left: 0;
	position: relative;
	top: 2px;
}
.prd-service-section .service-content ul li {
	color: #fff;
	font-size: 16px;
	font-weight: normal;
	text-transform: uppercase;
}
* {
	font-family: 'Libre Franklin', sans-serif;
}

.prd-service-section .service-content ul li:before {
	content: '>';
	padding: 0 8px;
}
.prd-service-section .service-content ul li:first-child::before {
	content: '>';
	padding: 0 10px 0 13px;
} 
.prd-service-section .service-content ul li:after {
	content: '>';
	padding: 0 0 0 10px;
}
.prd-service-section .service-content ul li:last-child:after {
	content: '';
}
.prd-service-section .service-content ul li:last-child:before {
	content: '';
}
.prd-service-section .service-content ul li:nth-child(2)::before {
	content: '';
}
.app_development_section .head-txt-section h2 {
	font-style: normal;
	font-weight: bold;
	font-size: 36px;
	margin-bottom: 20px;
	color: #000;
}

.app_development_section .head-txt-section p {
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: #000;
	max-width: 590px;
}
.common-pad {
	padding-top: 70px;
}
.app_development_section  .app_txt-section {
	display: flex;
	width: 100%;
	box-sizing: border-box;
	justify-content: space-between;
}
.app_development_section  .request-proposal a {
	color: #fff;
	padding: 30px;
	text-decoration: none;
	position: relative;
	top: 40px;
	background: #1BA3DD;
	font-size: 18px;
}
.app_development_section  .request-proposal a span {
	position: relative;
	left: 10px;
}
.app_section-grid .common_app_boxes .app_box-1 {
	background: #2A333A;
	width: 48%;
	margin: 0 20px 40px 0;
}
.app_section-grid .common_app_boxes {
	display: flex;
	width: 100%;
	flex-wrap: wrap;
}